body {
  background-color: lightgrey;
}

.details {
  width: 70vw;
  background-color: red;
  display: flex;
  justify-content: space-between;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 3px;
}

.left {
  display: flex;
}

.tns {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.img {
  padding: 2px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 6px;
}