body {
  background-color: lightgrey;
}

ul {
  list-style-type: none;
}

.details {
  min-height: fit-content;
  height: 70px;
  width: 70vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border-radius: 10px;
  box-shadow: grey 5px 5px 5px;
  margin: 5px;
}

.left {
  display: flex;
  align-items: center;
}

.dots {
  height: fit-content;
  width: 40px;
}

.img {
  padding: 2px;
}

.tns {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.subtitle {
  color: grey;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 6px;
}