body {
  background-color: rgb(252, 250, 244);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

.details {
  min-height: fit-content;
  height: 75px;
  width: 80vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border-radius: 20px;
  box-shadow: rgb(211, 210, 210) 2px 2px 5px;
  margin: 10px;
}

.left {
  display: flex;
  align-items: center;
}

.dots {
  height: fit-content;
  width: 40px;
}

.img {
  padding: 2px;
  border-radius: 10px;
}

.tns {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.title {
  font-weight: bolder;
  font-size: larger;
}

.subtitle {
  color: grey;
}

.buttonDiv {
  display: flex;
  align-items: center;
}

.button {
  margin-left: 8px;
  margin-right: 8px;
  width: 20px;
  padding: 6px;
}

.bDiv {
  position: relative;
}

.bDiv .tooltip {
  font-weight: bold;
  font-size: small;
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.bDiv:hover .tooltip {
  visibility: visible;
  opacity: 1;
}